body{
	background-image: url("../image/bg.jpg");
	background-size: cover;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	height: auto !important;
	margin:0;
}

/*-------------------*/
#navigation, #content, #footer{
position: relative;
margin:auto;
}

#navigation{
background: linear-gradient(to left, rgba(54, 194, 182, 0.96) 0, rgba(62, 188, 207, 0.96) 100%);
height:84px;
width: 90%;
-webkit-border-radius: 0 0 15px 15px;
}

#content{
background:white;
min-height:675px;
width: 85%;
}

#gen_content{

}

#footer{
background: rgba(255,255,255,0.7);
height:50px;
width: 85%;
}


#sign, #sign_form, #settings{
	position:relative; /*Положение блока относительно исходного места*/
	margin: auto; /*Выравнивание блока по центру страницы*/
	background: rgba(255,255,255,0.7); /*Прозрачность блока*/
	border-radius: 15px; 			/*скругление углов блока*/
	-webkit-border-radius: 15px;	/*-//- для различных браузеров*/
	-moz-border-radius: 15px;	 	/*для закругления углов*/
	-khtml-border-radius: 15px;
	text-align: center;
	box-shadow: 0px 0px 5px white;
}

#sign {
	width: 500px;
	height: 300px;
	top: 20%;
}

#sign_form{
	width: 400px;
	height: 200px;
	top: 6%;
	left:32%;
}

.signtext {
	padding-top:15%;
	position:absolute;
	left: 120px;
}

.user_stat{
	float:right;
	width: 300px;
	height: 84px;
}

.user_stat img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.nav_menu{
	float:left;
}

.user_data{
	margin-top: 10px;
	margin-left: 40px;
	width:230px;
	height:64px;
}

.left_pos{
	float: left;
	width: 50px;
}

.right_pos{
	margin-left:55px;
}

#settings {
	top:15%;
	width: 700px;
	height: 500px;
}
#settings p {
font-size: 3pc;
}
#settings table {
font-size: 17pt;
}

input[type="text"], input[type="password"]{
-webkit-box-sizing: content-box; /*размер блока*/
-moz-box-sizing: content-box;
box-sizing: content-box;
width: auto;
height: auto;
position: relative;
padding: 10px 20px; /*отступы границ блока относительно текста*/
border: 2px solid #c4c4c4;
-webkit-border-radius: 7px; /*радиус закругления углов*/
border-radius: 7px;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(0,142,198,1);
background: rgba(247,247,247,1);
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset; /*тени*/
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

input[type="submit"], button{
background-color: #1496c9;
width: auto;
height: auto;
padding: 10px 20px;
position: relative;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(255,255,255,0.9);
-webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2) inset; /*тени*/
box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2) inset;
text-shadow: -1px -1px 0 rgba(0,57,150,0.66);
border: 1px solid #018dc4; /*углы*/
-webkit-border-radius: 5px;
border-radius: 5px;
}

#sign img{
width: 32px;
height: 32px;
}

/*Строка переключателя пола*/
.toggle-bg{
	background: #fff linear-gradient(#BCBCBC, #fff0f5);
    display: block; /*Для установки высоты и ширины*/
    float: left; /*Расположение*/
    height: 12px;
    position: relative;
    width: 35px;
	border-radius: 8px; /*закругление*/
	box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
}
 
.toggle-bg input{
    height: 28px;
    left: 0;
    margin: 0; /*Сбрось поля и отступa*/
    opacity: 0; /*Прозрачность*/
    padding: 0;
    position: absolute;
    top: -10px; /* Сдвиг по вертикали */
    width: 36px;
    z-index: 2; /*Расположение поверх switch*/
}
 
 /*Переключатель*/
.switch{
    background: radial-gradient(ellipse at center, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#cccccc 100%);
    display: block;
    float: left;
    height: 18px;
    left: -1px;
    position: relative;
    top: -4px; /*Оцентрировать по вертикали */
    width: 18px;
    z-index: 1; /*Расположение под input*/
	border-radius: 8px;
	transition: left .2s ease; /*Плавный переход*/
	box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
}
 
.toggle-bg input:checked~.switch{ left: -1px; } /*Исходная позиция переключателя*/
.toggle-bg input~:checked~.switch{ left: 16px; } /*окончательная относительная позиция переключателя*/
.toggle-bg input:checked{ z-index: 0; }
/*Конец переключателя поля пол*/

/*Ползунок*/
#slider {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  background: #fff linear-gradient(#BCBCBC, #fff0f5);
  overflow: hidden;
}
#slider::-moz-range-thumb {  /* ползунок в Firefox */
  border-radius: 2px;
}
#slider::-moz-range-track {  /* линия, по которой он ездит в Firefox */
  background: none;
  border: none;
}
#slider::-webkit-slider-thumb {  /* ползунок в Хроме */
  -webkit-appearance: none;
  width:20px;
  height:20px;
  border: 1px solid #818181;
  border-radius: 2px;
  background-image: linear-gradient(#dedede, #f2f2f2);
}

/*---------------------Navigation-----------------------*/
.nav_menu{
position: relative;
width: 740px;
z-index: 1000;
}
#menu {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: Georgia;
	overflow: visible;
	}

#gradient_bg{
background: linear-gradient(to bottom, rgba(58, 162, 173, 1) 0, rgba(62, 188, 207, 0.96) 100%);
}
	
#menu li {
	list-style: none;
	float: left;
	height: 72px;
	padding: 0;
	margin: 0;
	width: 185px;
	text-align: center;
	position: relative;
	padding-top: 12px;
	}
	
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	display: none;
	position: absolute;
	left: 0;
	top: 84px;
	}
#menu li ul li {
	float: none;
	height: 33px;
	margin: 0;
	width: 220px;
	text-align: center;
	}

#menu  ul  li a {
width: 220px;
}
	
#menu li a {
	display: block;
	width: 185px;
	height: 84px;
	color: #fff;
	text-decoration: none;
	}
	
#menu > li > a > div > span {
  color: rgba(255, 255, 255, .75);
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: .7rem;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px;
}

#menu > li > a {
    max-width: 500px;
    font-size: 1.7rem;
    line-height: 2rem;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
  }
#menu li:hover ul, #menu li.jshover ul {
	display: block;
	}
#menu li:hover, #menu li.jshover {
	 background-color: rgba(0, 0, 0, .15);
	}
/*---------------------------------------------*/